:root {
  --timer: 3s;
}

.nav {
  height: 60px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: transparent;
  background-image: url('../../../public/assets/body-bg.png');
  padding: 0rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 9;
}

.nav_toogle {
  font-size: 30px;
  /* color: rgb(28, 126, 201); */
  color: rgb(248, 215, 27);
}

.nav_logo a {
  color: white;
  font-weight: 600;
}

.nav_menu  {
  position: absolute;
  background-color: rgba(30, 67, 145, 0.464);
  backdrop-filter: blur(10px);
  height: calc(100vh - 60px);
  width: 100%;
  top: 60px;
  transition: 0.3s linear all;
  left: -100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav_logo a h1 {
  color: white;
}


.nav_menu .links {
  display: flex;
  flex-direction: column;
  padding: 2.5rem 0;
}

.nav_show .links {
  animation: menuSlide var(--timer) ease forwards; 
}

.nav_menu a {
  color: white;
  font-size: 22px;
  margin-bottom: 1.2rem;
  font-weight: 500;
}

.gold a h1 {
  color: gold;
}

@keyframes menuSlide {
  from {
    transform: translateX(0px);
  }
  to {
    transform:translateX(2rem);
  }
}

.nav_show {
  left: 0;
}

.unique {
  background-color: rgb(18, 26, 86)
  /* background-color: aliceblue; */
}

.unique a,
.unique .nav_menu a {
  /* color: rgb(28, 126, 201); */
  color: white;
}

.btn {
  background: transparent;
  outline: none;
  border: 1px solid gold;
  border-radius: 8px;
  padding: 1rem;
  margin: 2rem; 
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  font-size: 18px;
  font-weight: 600;
}

.unique .profile {
  margin-bottom: 0;
}

.initials {
  margin-right: .5rem;
}

@media (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav_toogle {
    display: none;
  }
  .nav_menu {
    left: 0;
    position: unset;
    height: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    background: transparent;
    backdrop-filter: unset;
    width: unset;
  }

  .nav_menu .links {
    margin-right: 3rem;
    flex-direction: row;
  }

  .nav_menu  a {
    /* color: rgba(28, 126, 201, 0.725); */
    color: white;
    margin-right: 1rem;
    margin-bottom: 0;
    animation: none;
    font-size: 16px;
  }

  .btn {
    border: none;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 1024px) {
  .nav {
    padding: 0 3rem;
  }

  .nav_menu  a {
    font-size: 20px;
  }
}

@media (min-width: 1280px) {
  .nav {
    padding: 0 5rem;
  }
}