* {
  padding: 0;
  margin: 0;
}

/* .aboutUs {
  padding-top: 4rem;
} */

.aboutUs h1 {
  color: #fff;
  font-size: 25px;
  padding-left: 20px;
  padding-top: 20px;
}

.aboutUs p, li {
  color: #fff;
  /* color: rgb(195, 169, 23); */
  padding: 20px 20px;
  line-height: 25px;
}

.about {
  padding-top: 4rem;
  padding-bottom: 20px;
  background-image: url("../../util/about.png");
  background-size: cover;
}

.ourMission {
  background-color: rgb(233, 229, 229);
  padding-top: 15px;
  padding-bottom: 15px;
}

.ourMission h1 {
  color: #000;
}

.ourMission p {
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

.whyUs {
  padding-top: 15px;
  padding-bottom: 15px;
}

.whyUs ul li {
  font-size: 14px;
  line-height: 22px;
  list-style: none;
  margin: 1.8rem 1.4rem;
  padding: 1rem;
  box-shadow: 0px 0px 5px 2px rgb(163, 142, 19);
  border-radius: 7px;
}

.whyUs b {
  color: rgb(195, 169, 23);
}

.getStarted {
  background-color: rgb(233, 229, 229);
  padding-top: 15px;
  padding-bottom: 15px;
}

.getStarted h1 {
  color: #000
}

.getStarted p {
  color: #000;
  font-size: 14px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .about {
    text-align: center;
    padding: 4rem 5rem;
  }

  .ourMission {
    padding: 3rem 4rem;
  }

  .whyUs {
    padding: 3rem 4rem;
  }

  .whyUs ul li {
    padding: 2rem 2rem;
    line-height: 25px;
  }

  .getStarted {
    padding: 3rem 4rem;
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 5rem 9rem;
  }

  .about p {
    font-size: 18px;
    line-height: 35px;
  }

  .ourMission {
    padding: 3rem 7rem;
  }

  .ourMission p {
    font-size: 15px;
    line-height: 30px;
  }

  .whyUs {
    padding: 3rem 7rem;
  }

  .whyUs ul li {
    padding: 2rem 2rem;
    font-size: 15px;
    line-height: 30px;
  }

  .getStarted {
    padding: 3rem 7rem;
  }

  .getStarted p {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: 1440px) {
  .about {
    padding: 6rem 16rem;
  }

  /* .about h1 {
    font-size: 25px;
  } */

  .about p {
    font-size: 20px;
    line-height: 38px;
  }

  .ourMission {
    padding: 6rem 10rem;
  }

  .ourMission p {
    font-size: 18px;
    line-height: 33px;
  }

  .whyUs {
    padding: 6rem 10rem;
  }

  .whyUs h1 {
    padding-bottom: 30px;
  }

  .whyUs ul li {
    padding: 2rem 2rem;
    font-size: 18px;
    line-height: 33px;
  }

  .getStarted {
    padding: 6rem 10rem;
  }

  .getStarted p{
    font-size: 18px;
    line-height: 33px;
  }
}