
.footer {
  background-image: url('../../../public/assets/body-bg.png');
  background-color: rgb(18, 26, 86);
  /* background-color: aliceblue; */
  background-position: center;
  background-size: contain;
  color: rgb(195, 169, 23);
}

.main {
   width: 90%;
   margin: 0 auto;
   padding: 3rem 0;
}

.main p {
  text-align: center;
  font-size: 15px;
}

.text,
.reserve,
.comp{
  margin-bottom: .5rem;
  line-height: 18px;
}

@media (min-width: 768px) {
  .main {
    width:65% ;
  }

  .main p {
    text-align: center;
    font-size: 20px;
    line-height: 35px;
  }
}

@media (min-width: 1024px) {
  .main {
    width:45% ;
  }

  .text,
.reserve,
.comp{
  margin-bottom: .5rem;
  line-height: 21px;
}
}