@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(18, 26, 86);
  --bg: rgb(233, 229, 229);
  --secondary-color: rgb(184, 165, 61);
  --light-secondary-color:rgb(212, 183, 22);
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(18, 26, 86);
  background-image: url('../public/assets/body-bg.png');
  background-position: center;
}

input,
button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.my_swipper .swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

.my_swipper .swiper-pagination-bullet-active {
  /* background-color: rgb(0, 153, 255); */
  background-color: rgb(195, 169, 23);
  opacity: 1;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(195, 169, 23);
  border-radius: 50%;
  display: inline-block;
}

.gold {
  color: rgb(184, 165, 61); 
}

.white {
  background-color: white;
}

.text-white {
  color: white;
}

.dot1 {
  height: 10px;
  width: 10px;
  background-color: rgb(195, 169, 23);
  border-radius: 50%;
  display: inline-block;
}

.dashboard_header {
  font-size: 30px;
  color: var(--primary-color);
}

.dashboard_tab {
  padding: 1rem;
  color: white; 
}

.sides{
  color: white;
}

.sides.active {
  color: red;
}

@media (min-width: 768px) {
  .dashboard_tab {
    padding: 2rem 0;
  }
   .dashboard_header {
      height: 110px;
      position: fixed;
      z-index: 9;
      background: var(--bg);
      width: 100%;
      top: 60px;
      top: 96px;
      line-height: 122px;
      font-size: 42px;
      padding: .7rem 0;
      border-bottom: 2px solid var(--primary-color);
  }
}

/* @media (min-width:1024px) {
  .dashboard_tab {
    padding: 3rem 0;
  }
} */

/* @media (min-width:1280px) {
  /* .dashboard_tab {
    padding: 4rem 0;
  } */
