@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(18, 26, 86);
  background-image: url('../public/assets/body-bg.png');
  background-position: center;
}

input,
button {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

.my_swipper .swiper-pagination-bullet {
  background: white;
  opacity: 0.7;
}

.my_swipper .swiper-pagination-bullet-active {
  /* background-color: rgb(0, 153, 255); */
  background-color: rgb(195, 169, 23);
  opacity: 1;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: rgb(195, 169, 23);
  border-radius: 50%;
  display: inline-block;
}

.gold {
  color: rgb(184, 165, 61); 
}

.white {
  background-color: white;
}

.text-white {
  color: white;
}

.dot1 {
  height: 10px;
  width: 10px;
  background-color: rgb(195, 169, 23);
  border-radius: 50%;
  display: inline-block;
}